# Terraform
*.tfstate
*.tfstate.*
.terraform/
.crash/
override.tf
override.tf.json
*.tfvars
terraform.tfvars
terraform.tfvars.json
# Binary terraform plan
infra/terraform/tfplan

# AWS / credentials
.aws/
credentials
*.pem
*.key
*.crt
*.csr
*.env

# SSH keys
.ssh/
demo-free-key
id_rsa
id_rsa.pub

# Logs / OS
*.log
*.swp
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Local build / temp
node_modules/
dist/
